*{
	margin: 0;
	padding: 0;
	border: 0;
	position: relative;
}

html,body{
	font-family: 'Roboto Slab', serif;
	width: 100%;
	min-height: 100%;
	height: auto;
}

.container{
	float: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: fixed;
	justify-content: center;
	align-items: center;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}



.container img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	

}

.imagen{
	height: 300px;
	width: 300px;
	position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	border-radius: 160px;
	border: 5px solid #fff;
}

.text h2{
	color: #ffffff;
	margin-top: 80%;
	font-size: 30px;
	margin-bottom: 15%;
	text-align: center;	
}

.text p{
	color: #ffffff;
	margin-top: 0%;
	margin-bottom: 10%;
	text-align: center;	
}


